apiVersion: v1
kind: Service
metadata:
  name: spro-examples-weather-api
  labels:
    app: spro-examples-weather-api
spec:
  ports:
    - port: 8080
      name: http
      targetPort: 3000
  selector:
    app: spro-examples-weather-api