apiVersion: apps/v1
kind: Deployment
metadata:
  name: spro-examples-weather-api
  labels:
    app: spro-examples-weather-api
    version: v1
spec:
  replicas: 1
  revisionHistoryLimit: 2 ### default is 10
  selector:
    matchLabels:
      app: spro-examples-weather-api
      version: v1
  template:
    metadata:
      labels:
        app: spro-examples-weather-api
        version: v1
    spec:
      containers:
      - name: spro-examples-weather-api
        image: luizcarlospedrosogomes/weather-api:latest      
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "150m"
            memory: "300Mi"
        envFrom:
          - configMapRef:
              name: spro-examples-weather-envs
        env:         
          - name: SERVICE_BINDING_ROOT
            value: /bindings
        
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: postgres-password

          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: postgres-user

        ports:
          - containerPort: 3000
        volumeMounts:
            - name: spro-examples-weather-xsuaa
              mountPath: "/etc/secrets/sapcp/xsuaa/spro-examples-weather-xsuaa"
              readOnly: true

            - name: destination-volume
              mountPath: /etc/secrets/sapcp/destination/destination-service-instance
              readOnly: true

      volumes:
        - name: spro-examples-weather-xsuaa
          secret:
            secretName: spro-examples-weather-xsuaa-binding
        - name: destination-volume
          secret:
            secretName: destination-service-binding
